/* GENERAL */
/* -------------------------------- */
* {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");
/* -------------------------------- */

/* NAVBAR */
/* -------------------------------- */
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  padding: 20px 100px;
}

.flex-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
}
/* -------------------------------- */

/* HOME GRID */
/* -------------------------------- */
.grid-img-left {
  display: grid;
  grid-template-columns: 100px 450px 80px auto 100px;
  grid-template-rows: 100px 300px 100px;
}

.grid-img-right {
  display: grid;
  grid-template-columns: 100px auto 80px 450px 100px;
  grid-template-rows: 100px 300px 100px;
  background-color: #fbfbfb;
}

.img-left {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.txt-right {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
}

.img-right {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.txt-left {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
}

.img-left img,
.img-right img {
  object-fit: cover;
  object-position: 0 30%;
}
/* -------------------------------- */

/* HOME MISC */
/* -------------------------------- */
.title {
  color: #4ead33;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 16px;
}

.txt {
  text-align: justify;
}
/* -------------------------------- */

/* FOOTER GENERAL */
/* -------------------------------- */
.footer_wrapper {
  background-color: #373736;
  color: #f3f3f3;
}

/* -------------------------------- */
