* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  padding: 20px 100px;
}

.flex-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
}
